h1{background-color:cornflowerblue;
border: 2px solid red;
border-radius: 25px;
text-align: center;
color:darkmagenta;
}
.one{ color: red;}
th,td{border: 1px solid whitesmoke;}
.black{background-color: black;}
.red{background-color: red;}








